* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.presentation{
    position: absolute;
    width: 1312px;
    height: 844px;
    left: 0px;
    top: 0px;
    /*background: linear-gradient(180deg, #132D46 60.94%, #016F6C 100%);*/
    

}

/*PRIMERA PARTE DE LA PRESENTACION*/

.presentation__up{
    display: flex;
    flex-wrap: wrap;
    

}

.presentation__left{
    width: 50%;
    height: 422px;
    

}

.presentation__right {
    width: 656px;
    height: 422px;
    
    
}

.presentation__left h1 {
    position: absolute;
    width: 497px;
    height: 75px;
    left: 80px;
    top: 14px;

    /* Header 1 */

    /*font-family: 'Work Sans';*/
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */

    letter-spacing: -0.02em;

    /*color: #FFFFFF;*/

}
.presentation__left p {
    position: absolute;
    width: 643px;
    height: 220px;
    left: 20px;
    top: 146px;
    /*color: #FFFFFF;*/
}

.presentation__up .presentation__right img {
    position: absolute;
    width: 503px;
    height: 349px;
    top: 50px;
    left: 730px;

}

.presentation__up .presentation__right::before {
    content: "";
    width: 503px;
    height: 349px;
    position: absolute;
    background-color: rgba(236, 241, 244, 0.24);
    top: 10px;


}

/*SEGUNDA PARTE DE LA PRESENTACION*/
.presentation__down {
    display: flex;
    flex-wrap: wrap;


}
.presentation__down .presentation__left img {
    position: absolute;
    width: 503px;
    height: 349px;
    top: 470px;
    left: 30px;

}

.presentation__down .presentation__left::before {
    content: "";
    width: 503px;
    height: 349px;
    position: absolute;
    background-color: rgba(236, 241, 244, 0.24);
    left: 100px;
    
}

.presentation__right p {
    position: absolute;
    width: 642px;
    height: 220px;
    left: 690px;
    top: 500px;
    /*color: #FFFFFF;*/
}