/* Título principal */
.Title-carousel{
    align-content: center;
    justify-content: center;
    padding-top: 1rem;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bolder;
}
.Title-carousel h3{
    width: 40%;
    text-align: center;
}
.text-detail{
    width: 50%;
    font-size:xx-large;
    text-align: center;
    margin-left: 1rem;
}
.Galery{
    width:80%;
    margin-left: 10%;
}

.Carousel-Gallery{
    width: 90%;
    margin-left: 5%;
}

.img_gallery{
    width: 10%;
}
.section-commentary{
    display: flex;
    max-height: 500;
    margin-left: 2.5rem;
}
.Description{
    margin-top: 2rem;
}

.Description h2{
    text-align: center;
}
.container-commentary{
    width: 50%;
    max-height: 250px;

}

.comment{
    width: 50%;
}

.day{
    flex-direction: column;
}