.portada{
    min-height: 80vh;
}
.TextInitialCard{
    width: 50%;
    margin-left: 5%;
    padding-top: 3rem;
}
.Text1{
    width: 100%;
    left: 0%;
    top: 0%;

    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
}
.Text2{
    width: 100%;
    margin-top: 2%;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
}
.Frame29{
    position: absolute;
    width: 10%;
    margin-left: 90%;
    margin-bottom: 20%;

}
.Text3{
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    transform: rotate(90deg);
}

.button-container{
    display: flex;
    font-weight: 800;
    justify-content: flex-end;
    margin-top:35vh;
    padding-bottom: 3rem;
}

.button-yellow{
    font-weight: 800;
}

.Group2 {
    margin:2rem
}

@media screen and (max-width: 768px) {
    .button-container{
        margin-top: 70%;
    }
  }

  /* @media screen and (max-width: 450px) {
    .button-container{

    }
  } */
