.Container_LoadData{
    width: 100%;
    background: linear-gradient(180deg, #132D46 60.94%, #016F6C 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}