* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}


.cards-service {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    
}

 /*-----FILA 1------*/
.first__row-service{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/*-----cajita de la fila 1------*/
.card__one-service{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: #1B1D29;
    border-radius: 25px;
    padding: 1rem 1.5rem;
   
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.magia{
    display: flex;
   
    
}
.magia-2{
    display: flex;
    width: 100%;
    border-right: 1px solid  rgb(255, 255, 255);
   
   
}

.card__one-service sub {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 0.7rem;
    display: flex;

}
/*tamaño de las imagenes*/

.magia-2 img{
   
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 4px;
    position: relative;
    display: block;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    
    
}

.descripcion-service{
    
    padding: 20px;
    text-align: center;
    position: relative;
    
    
}

.descripcion-service p{
    margin: 20px 30px;
 
  }




 .title-service{
    position: relative;
    margin-top: 0;
    padding-top: 4rem;
    padding-left: 2.5rem;
    text-align: center;
}

.combo{

    position: absolute;
    right: 20px;
}

