.container{
    width: 100%;
    max-height: 800px;
}
.title{
    margin-top: 0;
    padding-top: 3rem;
    margin-left: 0;
    padding-left: 2.5rem;
}
.activities-container{
    align-self: baseline;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.activities-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.10);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
    gap: 1rem;
    max-height: 520px;
    overflow-y: auto;
}

.activity-element{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.10);
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    cursor:pointer;
}

.img-activity{
    width: 40%;
    background-color: white;
    border-radius: 15px;
}

.detail-activity{
    width: 58%;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 15px;

}
.detail-activity hr{
    height: 1px;
    color: black;
}

.main-title {
    margin-top: 0;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    font-size: x-large;
    text-align: center;
    font-weight: bold
}


.detail-act{
    font-size: large;
    text-align: center;
    margin-top: 0.5rem;
}
.location{
    width:100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.SeeMore-btn{
    width: 95%;
    margin-left: 0;
    margin-bottom: 0.5rem;
}

@media (max-width: 568px) {
    .activity-element{
        flex-direction: column;
    }
    .img-activity{
        width: 100%;
        margin-bottom: 1rem;
    }
    .detail-activity{
        width: 100%;
    }
    .activities-container{
        width: 95%;
    }
}

@media (max-width: 992px) {
    .activities-list{
        width: 90%;
        margin-left: 5%;
    }
}