footer {
    font-size: 0.8rem;
  }
  
  .footer-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }
  .footer-elements .menu-options-list {
    display: flex;
    flex-direction: column;
  }
  .footer-elements li.footer--link {
    margin: 0.25rem 0;
  }
  .footer-elements .menu-options__element--footer {
    font-size: 0.8rem;
  }
  
  div h3.text-dark {
    margin: 0;
    padding: 1.5rem;
  }
  
  .footerSection--nav {
    margin-left: 2rem;
  }
  
  .footerSection--contact {
    margin-right: 2rem;
  }
  .footerSection--contact div h3 {
    font-size: 0.8rem;
    font-weight: normal;
  }
  .footerSection--contact div h3 svg {
    margin-right: 0.5rem;
  }
  
  @media (max-width: 992px) {
    footer {
      font-size: 1.5rem;
    }
    .footer-elements {
      flex-wrap: wrap;
      align-items: center;
    }
    .footer-elements .menu-options__element--footer {
      font-size: 1.5rem;
    }
    .footer-elements .footerSection--contact div h3 {
      font-size: 1.5rem;
    }
    h3.mini-title-2 {
      font-size: 1rem;
    }
    .footer-elements li.footer--link {
      margin: 0.7rem 0;
    }
  }
  @media (max-width: 500px) {
    .footer-elements {
      flex-direction: column;
    }
    .menu-options-list{

      text-align: center;
    }
    .footerSection--nav {
      margin-left: 0rem;
    }
    
    .footerSection--contact {
      margin-right: 0rem;
    }
  }  