.CalendarSection{
    margin: 0;
    padding: 0 3rem;
    padding-bottom: 6rem;
}

.CalendarSection .title{
    margin-top: 0;
    padding-top: 4rem;
    padding-left: 2.5rem;
}

.calendar-header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event-container, .calendar-container{
    width:50%;
    align-self: baseline;
}

.event-list{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.10);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
    gap: 1rem;
    max-height: 220px;
    overflow-y: auto;
}

.event-element{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.10);
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    cursor:pointer;
}

.active-event{
    background-color: rgba(255, 255, 255, 0.40);
    -webkit-transition: background-color 900ms linear;
    -ms-transition: background-color 900ms linear;
    transition: background-color 900ms linear;
}

/*Calendario*/
.rmdp-wrapper{
    margin: 0 auto;
}

@media screen and (max-width: 680px) {
    .event-container{
        margin-top: 2rem;
    }
    .event-container, .calendar-container{
        width:80%;
    }
    .event-container h2{
        text-align: center;
    }
    .event-list{
        margin:0 auto;
    }
  }