.CalendarSection{
    margin: 0;
    padding: 0 3rem;
    padding-bottom: 6rem;
}

.CalendarSection .title{
    margin-top: 0;
    padding-top: 4rem;
    padding-left: 2.5rem;
}

.calendar-header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event-container, .calendar-container{
    padding-left: 3rem;
    width:50%;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.search-inputs{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.input-box{
    position: relative;
}

.search-inputs input{
    margin-left: 1rem;

    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border: 1px solid #7e7d7d;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
    border-radius: 5px;
    padding: 1rem .5rem;
}

.search-inputs label{
    position: absolute;
    left: 1.5rem;
    bottom: 2.5rem;
    padding: 1rem;
    pointer-events: none;
    font-size: 1rem;
    color: #7e7d7d;
    transition: 0.5s;
}


.search-inputs input:valid ~ label ,
.search-inputs input:focus ~ label {
    padding: .45rem;
    padding-top: .15rem;
    padding-bottom: .15rem;
    background-color: #48CBC5;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 5px;
}

.search-inputs__button{
    font-size: 1.5rem;
    padding: .75rem;
    background-color: #48CBC5;
    color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.event-list{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.10);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
    gap: 1rem;
    max-height: 220px;
    overflow-y: auto;
}

.event-element{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.10);
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    cursor:pointer;
}

.active-event{
    background-color: rgba(255, 255, 255, 0.40);
    -webkit-transition: background-color 900ms linear;
    -ms-transition: background-color 900ms linear;
    transition: background-color 900ms linear;
}

/*Calendario*/
.rmdp-wrapper{
    margin: 0 auto;
}

@media screen and (max-width: 680px) {
    .event-container{
        margin-top: 2rem;
    }
    .event-container, .calendar-container{
        width:80%;
    }
    .calendar-container{
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }
    .event-container h2{
        text-align: center;
    }
    .event-list{
        margin:0 auto;
    }
  }